<h1>Please sign up so you can use our app!</h1>
<%= form_for @user do |f|%>
<%= f.label "Username"%>
<%= f.text_field :username%>
<%= f.label "Password"%>
<%= f.text_field :password%>
<%= f.submit%>
<% end %>