<head>
    <link href="https://fonts.googleapis.com/css?family=Anton|Bangers&display=swap" rel="stylesheet">
</head>

<body class = "rental-body">

<div class = "rental-box">

<h1><div> Enjoy Your Rental <%= @game_rental.user.username%>!</div></h1>
<h3>Currently Playing 🎮:<div class = "rental-div"><%= @game_rental.game.title%>
on <%=@game_rental.game.platform%>
</div></h3>

<div class = "review-div">Enjoying the game?
<%=link_to "Leave a review", new_game_rental_review_path(@game_rental) %>
</div>

<div class = "rental-button"><button class="ui button"><%= link_to "Go back to games", games_path%></button></div>

</div>

</body>

