<h1><%= @game.title%></h1>

<div class= "card large">
  
    <div class="card blue-grey lighten-4">  
      <div class="card-image">             
        <img src=<%= @game.image %>>     
      </div>
      <div class="card-content">            
        <p><%= link_to "Edit Game", edit_game_path(@game)%><br><br> <%= link_to "Delete Game", game_path(@game), :method => :delete %></p>
        <%@game.reviews.each do |rev|%>
        <div class = "review-box"><%= rev.content %> : <%= rev.rating %></div>
        <%end%>

      </div>
    </div>
  </div>

 
   


<div></div>
<div>



