<h1><%= @game.title%> Detail Page</h1>
<h3>Game Reviews</h3>


<%@game.reviews.each do |rev|%>
    <div class = "review-box">Review: <%= rev.content %> </div>
    <div>Rating: <%= rev.rating %></div>
<%end%>

<div><%= link_to "Rent This Game", new_game_rental_path %></div>
<div><%= link_to "Back to Games List", games_path(@game)%></div>

