<h1><%= @game.title%> Detail Page</h1>
<% if @game.avatar.attached?%>
<image src="<%=(url_for(@game.avatar))%>">
    <%end%>
<h3>Game Reviews</h3>
<div class= "wrapper">
<img class="show_image" src=<%= @game.image %>>
</div>


        <%@game.reviews.each do |rev|%>
            <div class="ui section divider"><%=rev.game_rental.user.username%>
            <div>Review: <%= rev.content %> </div>
            <div>Rating:<% rev.rating.times do%>
                <i class="yellow star icon"></i>
            <%end%>
                </div>
        <%end%>
    </div><br>

<div><%= link_to "Rent Our Games", new_game_rental_path %></div>
<div><%= link_to "Back to Games List", games_path(@game)%></div>



