<h1><%= @game.title%> Detail Page</h1>
<h3>Game Reviews</h3>
<div class= "wrapper">
<img class="show_image" src=<%= @game.image %>>
<%@game.reviews.each do |rev|%>
    <div class = "review-box"><%= rev.content %> : <%= rev.rating %></div>
<%end %>
</div>


<div><%= link_to "Edit Game", edit_game_path(@game)%></div>
<div><%= link_to "Delete Game", game_path(@game), :method => :delete %></div>


