<h1><%= @game.title%> Detail Page</h1>
<h3>Game Reviews</h3>


        <%@game.reviews.each do |rev|%>
            <div><%=rev.game_rental.user.username%></div>
            <div>Review: <%= rev.content %> </div>
            <div>Rating:<% rev.rating.times do%>
                <i class="yellow star icon"></i>
            <%end%>
                </div>
        <%end%>



<%= link_to "Edit Game", edit_game_path(@game)%><br>
<%= link_to "Delete Game", game_path(@game), :method => :delete %><br>




     
 
      
        


