
<% @review.errors.full_messages.each do |msg|%>
<li><%= msg %></li>
<% end %>
<div class = "review-box"><h2>Leave a review below:</h2>
<%=form_tag game_rental_reviews_path do%>
<%= text_area_tag 'review[content]', "", class: "text_area_tag"%><br>
<h3>Rate Game</h3>
<%= select_tag 'review[rating]', options_for_select(1..5)%><br>
<div class = "review-button"><%= submit_tag "Submit"%></div>
<%end%>
</div>



